*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.driver-seat{
    width: 20px;
}

.selected{
    background-color: #4ada26;
    color: white;
}
.confirmation {
    display: none;
    padding: 16px;
    margin-top: 16px;

}

#border-dashed{
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;

}
